<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.savana.development.ingressd</string>
  <key>Program</key>
  <string>/Library/PrivilegedHelperTools/SavanaDevelopment/savana-ingressd</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Library/PrivilegedHelperTools/SavanaDevelopment/savana-ingressd</string>
    <string>--config</string>
    <string>/Library/Application Support/Savana/Development/config/ingressd-bootstrap-v2.json</string>
  </array>
  <key>UserName</key>
  <string>_savana_ingress_dev</string>
  <key>GroupName</key>
  <string>_savana_ingress_dev</string>
  <key>InitGroups</key>
  <true/>
  <key>EnvironmentVariables</key>
  <dict>
    <key>SAVANA_AUTHORITY_CLASS</key>
    <string>development</string>
  </dict>
  <key>Sockets</key>
  <dict>
    <key>savana-ingress-http</key>
    <dict>
      <key>SockNodeName</key>
      <string>127.0.0.1</string>
      <key>SockServiceName</key>
      <string>8767</string>
      <key>SockType</key>
      <string>stream</string>
    </dict>
  </dict>
  <key>KeepAlive</key>
  <true/>
  <key>ProcessType</key>
  <string>Background</string>
  <key>StandardOutPath</key>
  <string>/Library/Logs/Savana/Development/ingressd.log</string>
  <key>StandardErrorPath</key>
  <string>/Library/Logs/Savana/Development/ingressd.error.log</string>
</dict>
</plist>
