<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.savana.development.jarvis-python</string>
  <key>Program</key>
  <string>/Library/PrivilegedHelperTools/SavanaDevelopment/savana-jarvis-python</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Library/PrivilegedHelperTools/SavanaDevelopment/savana-jarvis-python</string>
    <string>/Library/Application Support/Savana/Development/config/jarvis-python-v2.json</string>
  </array>
  <key>UserName</key>
  <string>_savana_jarvis_dev</string>
  <key>GroupName</key>
  <string>_savana_jarvis_dev</string>
  <key>InitGroups</key>
  <true/>
  <key>EnvironmentVariables</key>
  <dict>
    <key>SAVANA_AUTHORITY_CLASS</key>
    <string>development</string>
  </dict>
  <key>KeepAlive</key>
  <true/>
  <key>ProcessType</key>
  <string>Background</string>
  <key>StandardOutPath</key>
  <string>/Library/Logs/Savana/Development/jarvis-python.log</string>
  <key>StandardErrorPath</key>
  <string>/Library/Logs/Savana/Development/jarvis-python.error.log</string>
</dict>
</plist>
